<?xml version="1.0"?>
<config>
  <modules>
    <KL_Shopello>
      <version>0.1.0</version>
    </KL_Shopello>
  </modules>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <shopello>
                      <title>Shopello</title>
                    </shopello>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <frontend>
    <routers>
      <shopello>
        <use>standard</use>
        <args>
          <module>KL_Shopello</module>
          <frontName>shopello</frontName>
        </args>
      </shopello>
    </routers>
  </frontend>
  <global>
    <cache>
      <types>
        <shopello_products>
          <label>Shopello product cache</label>
          <description>Product data for Shopello XML feed</description>
          <tags>SHOPELLO_PRODUCT</tags>
        </shopello_products>
      </types>
    </cache>
    <events>
      <catalog_product_save_after>
        <observers>
          <shopello>
            <class>shopello/observer</class>
            <method>updateProduct</method>
          </shopello>
        </observers>
      </catalog_product_save_after>
      <sales_model_service_quote_submit_before>
        <observers>
          <shopello>
            <class>shopello/observer</class>
            <method>submitQuote</method>
          </shopello>
        </observers>
      </sales_model_service_quote_submit_before>
      <sales_order_item_cancel>
        <observers>
          <shopello>
            <class>shopello/observer</class>
            <method>cancelOrderItem</method>
          </shopello>
        </observers>
      </sales_order_item_cancel>
    </events>
    <helpers>
      <shopello>
        <class>KL_Shopello_Helper</class>
      </shopello>
    </helpers>
    <models>
      <shopello>
        <class>KL_Shopello_Model</class>
      </shopello>
    </models>
  </global>
</config>
